.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: #f8f8f8;
    position: sticky;
    top: 50px;
}

.sidebarWrapper {
    padding: 20px;
    color: #555;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-size: 30px;
    color: rgb(104, 104, 104);
}

.sidebarList {
    list-style: none;
    padding: 5px;
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

/* .sidebarListItem.active,  */
.sidebarListItem:hover {
    background-color: rgb(247, 215, 215);
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}